In [87]:
import pandas as pd
import numpy as np
import sqlalchemy as alch
from getpass import getpass
import os
from dotenv import load_dotenv
import datetime

In [3]:
load_dotenv()
db_name = "europe_pm10"
password=os.getenv("sql_password")
connectionData = f"mysql+pymysql://root:{password}@localhost/{db_name}"
engine = alch.create_engine(connectionData)

In [5]:
def get_country (country):
    query = f"""
    SELECT Datetime, Concentration, Year, Month, Day
    FROM `{country.lower()}`
    ;"""
    df = pd.read_sql_query(query, engine)
    return df

In [6]:
albania = get_country('albania')

In [32]:
avg = albania.groupby('Month')['Concentration'].mean().sort_values(ascending=True)
avg

Month
5     20.653161
7     20.955951
6     21.817789
9     24.733065
4     24.987561
10    25.403253
8     26.686576
3     28.235785
2     31.079298
11    37.190554
1     38.629142
12    42.994718
Name: Concentration, dtype: float64

In [63]:
month = avg.head(3).keys()
concentration = np.round(avg.head(3).values,2)

In [64]:
top3 = pd.DataFrame(month,concentration).reset_index().rename(columns={'index':'Concentration'})

In [65]:
month_dict = {1:'January',
              2:'February',
              3:'March',
              4:'April',
              5:'May',
              6:'June',
              7:'July',
              8:'August',
              9:'September',
              10:'October',
              11:'November',
              12:'December'}
top3 = top3.replace({"Month": month_dict})

In [66]:
top3 = top3[['Month','Concentration']]
top3

  Month  Concentration
0   May          20.65
1  July          20.96
2  June          21.82

In [70]:
def rename_month(row):
    if row['Concentration'] < 20:
        return 'Good'
    elif row['Concentration'] < 40:
        return 'Fair'
    elif row['Concentration'] < 50:
        return 'Moderate'
    elif row['Concentration'] < 100:
        return 'Poor'
    elif row['Concentration'] < 150:
        return 'Very Poor'
    elif row['Concentration'] > 150:
        return 'Extremely Poor'
    else:
        return "Concentration value couldn't be assessed!"

In [71]:
top3['Air Quality Index'] = top3.apply(lambda row: rename_month(row), axis = 1)

In [72]:
top3

  Month  Concentration Air Quality Index
0   May          20.65              Fair
1  July          20.96              Fair
2  June          21.82              Fair

In [113]:
# Define string
date = '2021-06-21 11:23'

# Convert string to datetime format
date1 = pd.to_datetime(date)

In [114]:
date1

Timestamp('2021-06-21 11:23:00')

In [116]:
year, month, day = int(date1.year), int(date1.month), int(date1.day)

In [117]:
year

2021

In [107]:
albania.sample()

                 Datetime  Concentration  Year  Month  Day
56931 2020-07-07 22:00:00          46.56  2020      7    7

In [ ]:
condition = albania['Year']