In [6]:
import pandas as pd
import numpy as np
import sqlalchemy as alch
from getpass import getpass
import os
from dotenv import load_dotenv
import datetime

In [2]:
load_dotenv()
db_name = "europe_pm10"
password=os.getenv("sql_password")
connectionData = f"mysql+pymysql://root:{password}@localhost/{db_name}"
engine = alch.create_engine(connectionData)

In [7]:
def get_country (country):
    query = f"""
    SELECT Datetime, Concentration, Year, Month, Day
    FROM `{country.lower()}`
    ;"""
    df = pd.read_sql_query(query, engine)
    return df

In [9]:
def get_day(country, year, month, day):
    query = f"""
    SELECT Datetime, Concentration, Year, Month, Day
    FROM `{country.lower()}`
    WHERE Year = {year}
    AND Month = {month}
    AND Day = {day}
    ;"""
    df = pd.read_sql_query(query, engine)
    return df

In [13]:
bulgaria = get_day('bulgaria',2012,1,2)
bulgaria

Empty DataFrame
Columns: [Datetime, Concentration, Year, Month, Day]
Index: []

In [14]:
bulgaria.shape

(0, 5)